<section class="container">
  <header class="container-header">
    <h2 class="conatiner-header-h1">Messages</h2>
  </header>
  <main class="container-body">
    <input type="text" class="body-search" (keyup)="inputChange($event)">
    <div class="body-resultdata">
      <div class="body-resultdata-each" *ngFor="let individual of data; let i = index" style="cursor: pointer;" (onclick)="clicked()">
        <img src={{individual.picture.medium}} alt="" >
        <div class="body-resultdata-content">
          <P class="name"> <span>{{individual.name.title}}.</span>  <span>{{individual.name.first}}</span> <span>{{individual.name.last}}</span></P>
          <P class="phone"> {{individual.phone}}</P>
        </div>
      </div>
    </div>
  </main>
</section>